.city-section {
    margin: 85px 40px;
}

.city-section__header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 25px 0;
}

.city-section__heading {
    margin: 0;
    line-height: 44px;
    font-size: 36px;
    font-family: UberMoveMedium;
}

.city-section__all-link {
    color: black;
    font-weight: 600;
}

.city-section__map {
    height: 420px;
    overflow: hidden;
    background-color: white;
    position: relative;
    margin-bottom: -60px;
}

.city-section__map > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -60px;
    left: 0;
}

.city-section__list {
    position: relative;
    margin: 25px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 25px;
}

.city-section__list__link {
    text-decoration: none;
    color: black;
}

.city-section__cities-near {
    margin-bottom: 80px;
}

.city-section__more-info-link {
    margin-top: 30px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}

.city-section__more-info-link__decorated {
    text-decoration: underline;
}

@media (max-width: 700px) {
    .city-section {
        margin: 85px 25px;
    }

    .city-section__heading {
        font-size: 28px;
        line-height: 36px;
    }

    .city-section__list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }
}

@media (max-width: 400px) {
    .city-section {
        margin: 85px 25px;
    }

    .city-section__heading {
        font-size: 28px;
        line-height: 36px;
    }

    .city-section__list {
        display: flex;
        flex-direction: column;
    }
}
