.footer {
    border-top: 1px solid #f3f3f3;
    padding: 75px 25px;
}

.footer__content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer__top {
    display: flex;
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 40px;
}

.footer__top-left {
    flex: 1;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}

.footer__download-links {
    display: flex;
    gap: 16px;
}

.footer__top-right {
    flex: 1;
    display: flex;
    gap: 25px;
}

.footer__top-right__flex {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer__top-right__link {
    text-decoration: none;
    color: black;
}

.footer__top-right__language-link {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer__top-right__link:hover {
    text-decoration: underline;
}

.footer__bottom {
    padding-top: 40px;
    padding-bottom: 25px;
    display: flex;
    gap: 25px;
    font-size: 14px;
}

.footer__bottom__links {
    display: flex;
    gap: 50px;
}

.footer__bottom__links > a {
    text-decoration: none;
    color: rgb(83, 83, 83);
}

.footer__bottom__links > a:hover {
    text-decoration: underline;
}

.footer__media-links {
    display: flex;
    gap: 25px;
}

.footer__signed {
    color: rgb(83, 83, 83);
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 40px;
    gap: 25px;
    font-size: 14px;
    line-height: 20px;
}

@media (max-width: 1075px) {
    .footer__top {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .footer__top-left {
        gap: 24px;
    }

    .footer__logo-img {
        margin: 0 auto;
    }

    .footer__bottom {
        flex-direction: column;
        align-items: center;
        gap: 24px;
        padding-bottom: 50px;
    }

    .footer__bottom__links {
        flex-direction: column;
        text-align: center;
        gap: 25px;
    }

    .footer__signed {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 668px) {
    .footer__top-right {
        flex-direction: column;
        text-align: center;
    }
    .footer__top-right__language-link {
        align-self: center;
    }
}
