.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    /* border-bottom: 1px solid lightgray; */
}

.header__nav {
    padding: 0 10px;
    height: 64px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-img {
    scale: 0.67;
}

.header__login-link {
    background-color: white;
    color: black;
}

.header__register-link {
    background-color: black;
    color: white;
}

.header__login-link,
.header__register-link {
    border-radius: 500px;
    margin-right: 16px;
    height: 36px;
    padding: 12px;
    text-decoration: none;
}
