.help-section {
    margin: 75px 25px 160px 25px;
    display: flex;
    gap: 24px;
}

.help-section__card {
    text-decoration: none;
    color: black;
    flex: 1;
    font-family: UberMoveMedium;
}

.help-section__card__img {
    width: 100%;
    height: auto;
}

.help-section__card__heading {
    margin: 0 0 8px 0;
    font-size: 28px;
    line-height: 36px;
}

.help-section__card__link {
    color: black;
    text-decoration: underline;
}
