@font-face {
    font-family: "UberMoveText";
    src: url("../assets/fonts/UberMoveTextRegular.otf");
}

@font-face {
    font-family: "UberMoveMedium";
    src: url("../assets/fonts/UberMoveMedium.otf");
}

body {
    margin: 0;
    font-family: "UberMoveText", sans-serif;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

.overflow-hidden {
    overflow: hidden;
}
